# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=cambia_esta_clave
POSTGRES_DB=licoreria_db

# NextAuth — en Dokploy con IP: http://TU_IP_VPS
NEXTAUTH_SECRET=genera_un_secreto_largo_y_aleatorio
NEXTAUTH_URL=http://localhost:3000

# Primera vez: true | Después: false
RUN_SEED=true
